*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin media-md {
  @media (min-width: 1100px) {
    @content;
  }
}


body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
  padding: 150px 0 400px 0;

  @include center;

  justify-content: flex-start;

  @include media-md {
    height: 100vh;
    padding: 0;
    justify-content: center;
  }

    .container{
        background-color: #fff;
        width: 85%;
        border-radius: 20px;
        box-shadow: 0 25px 50px 0 rgb(81, 67, 146);

        @include center;

        @include media-md {
        width: 1200px;
        flex-direction: row;
        background-image: url(./assets/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -510px -250px;
        position: relative;
  }
    
    .illustration{
        width: 100%;
        height: 120px;
        background-image: url(./assets/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: top center;
    
        @include center;
    
        @include media-md {
          height: 500px;
          background-image: url(./assets/illustration-woman-online-desktop.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: -110px;
          
        }
    
        .design{
            width: 75%;
            display: block;
            margin-top: -150px;
      
            @include media-md {
              display: none;
            }
          }

        .box{
            display: none;

            @include media-md {
              display: block;
              position: absolute;
              top: 270px;
              left: -120px;
            }
          }
        }

        section {
            @include center;
        
            width: 100%;
            padding: 0 15px 50px 15px;
        
            @include media-md {
              align-items: flex-start;
              padding: 80px 80px 80px 0;
            }

            h1 {
                margin: 60px 0 30px 0;
                font-size: 2rem;
                color: hsl(238, 29%, 16%);
          
                @include media-md {
                  margin-top: 0;
                }
              }

        .accordion{
            border-bottom: 1px solid hsl(240, 5%, 91%);
      padding-top: 15px;
      width: 100%;

      @include media-md {
        padding-top: 25px;
        }
    }
       
        .accordion-item{
            border-bottom: 1px solid hsl(240, 5%, 91%);
            padding-top: 15px;
            width: 100%;
      
            @include media-md {
              padding-top: 25px;
        }
    

        .accordion-title{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
    
            @include media-md {
              margin-bottom: 25px;
            }

            h2 {
                font-size: 0.9rem;
                font-weight: 900;
      
                @include media-md {
                  font-size: 1rem;
                }
      
                &:hover {
                  color: hsl(14, 88%, 65%);
                  cursor: pointer;
                }
              }
              .icon{
                width: 10px;
                height: 8px;
                margin-left: 10px;

                @include media-md {
                width: 15px;
                height: 12px;
                }

                 &:hover {
                cursor: pointer;
                 }
                }
              }
            .content{
                display: block;
                margin-bottom: 15px;
        
                @include media-md {
                  font-size: 0.9rem;
                  margin-top: -20px;
                }
              }
            }
            }
        }
    }
   









  
   

   